<!DOCTYPE html>
<html>
<head>
    <title>Bayi Satis Fiyati Güncelle</title>
</head>
<body>
    <h1>Bayi Satis Fiyati Güncelle</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="YuzdeHesaplama" value="Apply" />
    </form>

    <p>Are you sure you want to update the Bayi Satis Fiyati of the following Fiyatlar objects?</p>
    <ul>
        {% for item in items %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
</body>
</html>